
.wrapper {
    margin-right: 25px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba($color: #616161, $alpha: 0.4);
    position: relative;
    margin-bottom: 40px;
}

.playlist_wrapper {
    position: relative;
    cursor: pointer;
}

.title {
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 30px;
}

.slider {
    display: flex;
    column-gap: 30px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.slider_btn {
    position: absolute;
    top: 140px;
    right: 10px;
    padding: 5px 9px;
    background-color: #e8e8e8;
    border: 1px solid #c1c1c1;  
    border-radius: 2px;
    cursor: pointer;

    &:active {
        background-color: #c1c1c1;
    }
}

.righticon {
    width: 16px;
    height: 16px;
    color: #686868;
}