.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form {
    border: 2px solid #D8DD00;
    border-radius: 5px; 
    padding: 20px 80px;

    .head {
        display: flex;
    }

    .action_1, .action_2 {
        font-size: 4rem;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }

    .action_1:nth-child(1) {
        color: #F9FF00;
        padding-right: 70px;
        border-right: solid 1px #fff;
    }
    
    .action_1:nth-child(2) {
        color: #646600;
        padding-left: 70px;
    }

    .action_2:nth-child(1) {
        color: #646600;
        padding-right: 70px;
    }

    .action_2:nth-child(2) {
        color: #F9FF00;
        padding-left: 70px;
        border-left: solid 1px #fff;
    }

    .gg_btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #D2D1D1;
        padding: 10px 25px; 
    }

    .gg-logo {
        width: 25px;
        height: 25px;
        object-fit: cover;
    }

    .gg_text {
        font-size: 2rem;
        color: #fff;
        font-weight: 500;
        margin-left: 15px;
    }

    .btn {
        display: block;
        background-color: #D8DD00;
        border: none;
        border-radius: 5px;
        padding: 10px 60px;
        font-size: 2.2rem; 
        font-weight: 600;
        font-family: var(--font-family);
        cursor: pointer;

        &:active {
            background-color: #CED200;
        }
    }
}

.username_group, .password_group, .repassword_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .label {
        color: var(--white);
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .input {
        width: 100%;
        height: 46px;
        padding: 0 25px;
        background-color: transparent;
        border: solid 1px #fff;
        border-radius: 5px;
        color: var(--white);
        font-size: 1.8rem;
        letter-spacing: .8px;
        outline: none;
    }

    .err-message {
        font-size: 1.4rem;
        color: transparent;
        width: 100%;
        margin-top: 5px;
        user-select: none;
    }
}