.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: solid 2px rgba($color: #616161, $alpha: 0.4);
}

.title, .refresh {
    display: flex;
    user-select: none;
    padding-left: 100px;
}

.refresh {
    cursor: pointer;

    &:hover .icon, &:hover .text {
        color: #fff;
    }
}

.icon {
    color: #ababab;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.text {
    color: #ababab;
    font-size: 1.5rem;
    font-weight: 500;
}

.empty-label {
    margin: 20px 0;
    padding: 50px 50px;
    padding-bottom: 70px;
    border-bottom: solid 2px rgba($color: #616161, $alpha: 0.4);
    overflow: auto;
    color: #dfdede;
    text-align: center;
}

.empty-label-1 {
    margin: 20px 0;
    padding: 50px 50px;
    padding-bottom: 70px;
    overflow: auto;
    color: #dfdede;
    text-align: center;
}

.body {
    margin: 20px 0;
    padding-bottom: 20px;
    padding-right: 15px;
    border-bottom: solid 2px rgba($color: #616161, $alpha: 0.4);
    height: 300px;
    overflow: auto;

    .item {
        margin-bottom: 20px;
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-radius: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.info {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;

    .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 15px;
    }

    .artist_name {
        font-weight: 500;
        color: #fff;
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .quantity {
        color: #ababab;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &:hover {
        background-color: rgba($color: #ccc, $alpha: 0.2);
        cursor: pointer;
    }
}

.action {
    cursor: pointer;
    user-select: none;
}

.follow {
    padding: 4px 25px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 3px;
    font-size: 1.3rem;
}

.following {
    padding: 4px 25px;
    color: #FAFF00;
    border: solid 2px #FAFF00;
    border-radius: 3px;
    font-size: 1.3rem;
}