.wrapper {
    margin-left: 35px;
    position: fixed;
    right: 100px;
}

.dev {
    color: #d2d2d2;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact {
    color: #d2d2d2;
    font-weight: 500;
}
