.wrapper {
    height: 55px;
    background-color: #6100B0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    height: 100%;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.control {
    display: flex;
    column-gap: 20px;
    align-items: center;

    .control_btn {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .controlicon {
        color: #fff;
        width: 25px;
        height: 25px;
    }
}

.progress {
    display: flex;
    align-items: center;
    margin-left: 30px;
    column-gap: 15px;

    .progress_bar {
        width: 500px;
        height: 5px;
        border-radius: 2px;
        background-color: rgba($color: #fff, $alpha: 0.4);
        cursor: pointer;
    }

    .progress_value {
        background-color: #D8DD00;
        position: relative;
        height: 5px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // left: 0;
            right: -6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #D8DD00;
        }
    }

    .time_start, .time_end {
        color: #fff;
        font-weight: 500;
        font-size: 1.3rem;
        display: block;
        width: 25px;
    }
}

.volumn {
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    position: relative;

    .volumn_btn {
        display: flex;
    }

    .volumn_control {
        position: absolute;
        left: 0;
        bottom: 45px;
        width: 120px;
        height: 35px;
        background-color: #6100B0;
        border-radius: 3px;
    }

    .volumn_bg {
        height: 5px;
        width: 96px;
        background-color: #000;
        display: flex;
        margin: 15px auto;
    }

    .volumn_value {
        height: 5px;
        position: relative;
        background-color: #D8DD00;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #D8DD00;
        }
    }

    .volumnicon {
        width: 25px;
        height: 25px;
        color: #fff;    
    }
}

.sound_badge {
    display: flex;
    flex: 1;
    margin-left: 20px;
    align-items: center;

    .avatar {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 5px;
        display: block;
        margin-right: 10px;
    }

    .author, .title {
        display: block;
        max-width: 220px;
        font-size: 1.3rem;
        color: var(--white);
        white-space: nowrap;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author {
        color: #ccc;
    }
}

.actions {
    margin-left: auto;
    display: flex;

    .actions_btn {
        display: flex;
        position: relative;
    }
    
    .like, .queue {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    
    .queue {
        color: #fff;
        margin-left: 20px;
    }
}