.wrapper {
    height: 60px;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;   
    align-items: center;

    .logo {
        width: 69px;
        height: 49px;
        margin-right: 30px;
        cursor: pointer;
    }

    .nav_list {
        display: flex;
        list-style-type: none;
        column-gap: 30px;
    }

    .nav_item {
        color: var(--white);
        font-weight: 500;
        border-radius: 5px;
        padding: 7px 10px;
        cursor: pointer;
        
        &:hover {
            background-color: #828282;
        }
    }
}

.search {
    margin-left: 100px;
    display: flex;
    align-items: center;
    
    .search_input {
        font-size: 1.6rem;
        width: 400px;
        padding: 8px 25px;
        color: #6A6A6A;
        font-weight: 600;
        outline: none;
        border: none;
        line-height: 28px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: inline-block;
    }

    .search_btn {
        padding: 10px 20px;
        background-color: var(--white);
        display: inline-block;
        height: 44px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;

        &:active {
            opacity: 0.9;
        }
    }

    .search_icon {
        width: 20px;
        height: 20px;
        color: #6A6A6A;
    }
}

.authen {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    color: var(--white);

    .login {
        padding: 8px 25px;

        &:hover {
            background-color: rgba($color: #d2d2d2, $alpha: 0.3);
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .register {
        padding: 8px 25px;

        &:hover {
            background-color: rgba($color: #d2d2d2, $alpha: 0.3);
            border-radius: 5px;
            cursor: pointer;
        }
    }
}